.content {
  margin-left: 200px;
  margin-top: 60px;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 767px) {
  .content {
    margin-left: 0;
  }
}
